<nav class="row d-flex mx-5 my-4">
  <div class="col-3">
    <!-- logo -->
    <h4 class="fw-bolder">WAAN</h4>
  </div>

  <div class="col-8">
    <!-- navitems -->
    <ul class="d-flex nav justify-content-between">
      <li class="nav-item">
        <a class="nav-link h6 whm-medium" href="#about-us">Nosotros</a>
      </li>
      <li class="nav-item">
        <a class="nav-link h6 whm-medium" href="#products">Productos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link h6 whm-medium" href="#contact">Contacto</a>
      </li>
    </ul>
  </div>

</nav>
