<div id="about-us-container">
  <div class="row">
    <div id="about-us" class="col-md-6 col-12">
      <h6 class="telecom-semibold section-title">SOBRE NOSOTROS</h6>
      <h2 class="telecom-bold">
        Nos posicionamos en el mercado como una empresa con gran potencial de
        crecimiento en el área tecnológica
      </h2>
      <p>
        Contamos con profesionales con una amplia experiencia en el área de
        mantención e instalación de dispositivos
      </p>
    </div>
    <div id="assets-about-us" class="col-md-6 col-12">
      <div class="content-right my-3">
        <div></div>
      </div>
      <div class="content-left my-3">
        <div></div>
      </div>
      <div class="content-right my-3">
        <div></div>
      </div>
    </div>
  </div>
</div>
