<div id="products-selection-container">
  <div id="products-selection-header">
    <div class="row">
      <div class="col-md-8">
        <h6 class="telecom-semibold section-title">SELECCIÓN DE PRODUCTOS</h6>
        <h2 class="telecom-bold">
          Nos preocupamos de tener la <span>mejor calidad</span> de productos
          para nuestros clientes
        </h2>
        <p>Las opiniones de nuestros clientes nos importan.</p>
      </div>
      <div id="opt" class="col-md-4">
        <div class="dropdown">
          <button
            class="btn btn-primary dropdown-toggle px-5"
            type="button"
            id="dropdownMenuButton"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="true"
          >
            Filtro de variedades
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="products-selection-content" class="row mt-5">
    <div
      class="col-md-4 col-sm-6 mb-4"
      *ngFor="let product of [1, 1, 1, 1, 1, 1]"
    >
      <product-selection-card></product-selection-card>
    </div>
    <div class="col-12 text-center mt-4">
      <button type="button" class="btn btn-outline-primary telecom-semibold">Cargar más</button>
    </div>
  </div>
</div>
