h2 > span {
  color: #3d8bfd;
}

#opt {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
}

#products-selection-header {
  margin-top: 10%;
  button {
    width: 100%;
    h5 {
      color: white;
    }
  }
}
