<section>
  <div class="container-fluid margin">
    <div class="row d-flex justify-content-center align-items-center">
      <div class="col-md-8 col-lg-6 col-xl-4">
        <form>
          <div>
            <h4 class="telecom-bold">Ingresa a tu cuenta</h4>
          </div>

          <!-- Email -->
          <div class="mb-4">
            <input type="email" class="form-control"
              placeholder="alumno.valpo@uv.cl" />
            <label class="form-label"> Email </label>
          </div>

          <!-- Contraseña -->
          <div class="mb-3">
            <input type="password" class="form-control"
              placeholder="Ingrese su contraseña" />
            <label class="form-label"> Contraseña </label>
          </div>

          <div class="d-flex justify-content-between align-items-center">
            <!-- Checkbox -->
            <div class="form-check mb-0">
              <input class="form-check-input me-2" type="checkbox" value=""/>
              <label class="form-check-label" for="form2Example3"> Recordarme </label>

            </div>
            <a href="#" class="text-body"> ¿Olvidaste tu contraseña? </a>
          </div>

          <div class="text-center text-lg-start mt-4 pt-2">
            <button type="button" class="btn btn-primary"> Iniciar sesión </button>
            <p class="small mt-2 pt-1 mb-0"> No tienes cuenta? <a href="#"
              class="link-danger">Registrarse</a></p>
          </div>

        </form>
      </div>
    </div>
  </div>
</section>
